<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/> 

        <title>SamВидав</title>

        <link rel="stylesheet" media="screen" href="css/main.css" th:href="@{/css/main.css}"/>
        <link rel="shortcut icon" type="image/png" href="images/favicon.png" th:href="@{/images/favicon.png}"/>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Josefin+Sans:400"/>
        <link rel="alternate" type="application/rss+xml" title="RSS" href="feed/rss" th:href="@{/feed/rss}"/>
        <link rel="alternate" type="application/rss+atom" title="atom" href="feed/atom" th:href="@{/feed/atom}"/>

        <link href="http://alexgorbatchev.com/pub/sh/current/styles/shThemeEclipse.css" rel="stylesheet" type="text/css" />
        <script src="http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js" ></script>
        <script src="http://alexgorbatchev.com/pub/sh/current/scripts/shAutoloader.js" ></script>
        <script src="http://agorbatchev.typepad.com/pub/sh/3_0_83/scripts/shBrushJava.js" ></script>
        <script >
             SyntaxHighlighter.all()
        </script>

        <!-- <script src="javascripts/jquery-1.7.1.min.js" th:src="@{/javascripts/jquery-1.7.1.min.js}"></script> -->

    </head>
    <body>
        <div id="canvasWrapper">
            <div id="canvas">
                <div id="pageHeaderWrapper">
                    <div id="pageHeader">
                        <div id="bannerAreaWrapper">
                            <div id="bannerArea">
                                <div id="siteTitleWrapper">
                                    <h1 id="siteTitle">
                                        <a href="/" th:href="@{/}">SamВидав</a>
                                    </h1>
                                    <div id="siteSubtitle" class="h1 subtitle">Жодної цензури</div>
                                </div>
                            </div>
                        </div>
                        <div id="navigationBottom">
                            <div id="navigationBottom-sectionContent7289596"
                                class="horizontalNavigationBar">
                                <ul class="content-navigation">
                                    <li class="module active-module" th:class="${menu == 'menu_home'} ? 'module active-module': 'module'">
                                        <div><a href="/" th:href="@{/}"><span>Home</span></a></div>
                                    </li>
                                    
                                    <li th:each="section : ${allSections}" th:class="${menu == 'menu_' + section.urlName} ? 'module active-module': 'module'" class="module" >
                                        <div><a href="/social/" th:href="@{'/' + ${section.urlName}}"><span th:text="${section.name}">SectionName</span></a></div>
                                    </li>
                                    
                                    <li class="module" th:class="${menu == 'menu_about'} ? 'module active-module': 'module'">
                                        <div><a href="/about/" th:href="@{/about}"><span>About</span></a></div>
                                    </li>
                                    <li class="module" sec:authorize="hasRole('ROLE_ADMIN')" th:class="${menu == 'menu_newarticle'} ? 'module active-module': 'module'">
                                        <div><a href="/admin/new" th:href="@{/admin/new}"><span>New Article</span></a></div>
                                    </li>
                                </ul>
                                <br class="clearer"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="sidebar1Wrapper" class="verticalNavigationBarWrapper">
                    <div id="sidebar1" class="verticalNavigationBar">
                        <div class="sectionWrapper ">
                            <div class="section">
                                <div class="caption">Пошук</div>
                                <div class="content-passthrough">


                                </div>
                            </div>
                            <div class="section">
                                <div class="caption">Потоки</div>
                                <div class="content-passthrough">
                                    <div class="widget-wrapper widget-type-page">
                                    	<a href="feed/rss" th:href="@{/feed/rss}">
                                    		<img src="images/rss.png" th:src="@{/images/rss.png}"/>
                                   		</a>
                                   	</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="contentWrapper">
                     <div id="content">
                        <div tiles:include="content">some prototyping markup over here...</div>
                    </div>
                </div>
                <div id="pageFooterWrapper">
                    <div id="pageFooter">
                        &copy;2012 Ivan Verhun
                        <br/>Design inspired by <a href="http://squarespace.com">squarespace.com</a> theme
                    </div>
                </div>
            </div>
        </div>

        <div id="bodyClearer" class="clearer"></div>
    </body>
</html>
