@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Josefin+Sans:400">
        <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed/rss" />
        <link rel="alternate" type="application/rss+atom" title="atom" href="/feed/atom" />

        <link href="http://alexgorbatchev.com/pub/sh/current/styles/shThemeEclipse.css" rel="stylesheet" type="text/css" />
        <script src="http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js" type="text/javascript"></script>
        <script src="http://alexgorbatchev.com/pub/sh/current/scripts/shAutoloader.js" type="text/javascript"></script>
        <script src="http://agorbatchev.typepad.com/pub/sh/3_0_83/scripts/shBrushJava.js" type="text/javascript"></script>
        <script type="text/javascript">
             SyntaxHighlighter.all()
        </script>

        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>

    </head>
    <body>
        <div id="canvasWrapper">
            <div id="canvas">
                <div id="pageHeaderWrapper">
                    <div id="pageHeader">
                        <div id="bannerAreaWrapper">
                            <div id="bannerArea">
                                <div id="siteTitleWrapper">
                                    <h1 id="siteTitle">
                                        <a href="/">@Messages("blog.name")</a>
                                    </h1>
                                    <div id="siteSubtitle" class="h1 subtitle">@Messages("blog.slogan")</div>
                                </div>
                            </div>
                        </div>
                        <div id="navigationBottom">
                            <div id="navigationBottom-sectionContent7289596"
                                class="horizontalNavigationBar">
                                <ul class="content-navigation">
                                    <li class="module active-module">
                                        <div><a href="/"><span>Home</span></a></div>
                                    </li>
                                    <li class="module">
                                        <div><a href="/about/"><span>About</span></a></div>
                                    </li>
                                    @if(session().containsKey("user")) {
                                        <li class="module">
                                            <div><a href="@controllers.routes.EditArticle.create()"><span>New Article</span></a></div>
                                        </li>
                                    }
                                </ul>
                                <br class="clearer"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="sidebar1Wrapper" class="verticalNavigationBarWrapper">
                    <div id="sidebar1" class="verticalNavigationBar">
                        <div class="sectionWrapper ">
                            <div class="section">
                                <div class="caption">Пошук</div>
                                <div class="content-passthrough">
<!-- ***************************************** -->
<div class="widget-wrapper  widget-type-search" id="moduleContentWrapper17258271"><div id="moduleContent17258271">

<form action="/display/Search" method="get">
    <input type="hidden" value="17258271" name="moduleId">
    <table cellspacing="0" cellpadding="0" border="0" class="search-form-pt-wrapper search-form-table">
        <tbody><tr class="search-form-pt search-form-row">
            <td class="queryFieldCell search-form-cell">
                <span class="queryFieldWrapper">
                    <input type="text" value="" name="searchQuery" class="text queryField">
                </span>
            </td>
            <td class="queryButtonCell search-form-cell">
                <span class="queryButtonWrapper">
                    <input type="submit" value="→" class="button queryButton">
                </span>
            </td>
        </tr>
    </tbody></table>
</form></div></div>
<!-- ***************************************** -->

                                </div>
                            </div>
                            @*
                            <div class="section">
                                <div class="caption">Make Good Use of Your Sidebar</div>
                                <div class="content-passthrough">
                                    <div class="widget-wrapper widget-type-page">Use this
                                        space for anything from simple blocks of text to powerful
                                        widgets, like our Twitter and Flickr widgets. Learn more. To
                                        access <b>Website Management</b>, hit the 'esc' key or use this Login
                                        link.
                                    </div>
                                </div>
                            </div>
                            *@
                            <div class="section">
                                <div class="caption">Потоки</div>
                                <div class="content-passthrough">
                                    <div class="widget-wrapper widget-type-page">
                                    	<a href="feed/rss">
                                    		<img src="@routes.Assets.at("images/rss.png")"/>
                                   		</a>
                                   	</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="contentWrapper">
                    <div id="content">
                        @content
                    </div>
                </div>
                <div id="pageFooterWrapper">
                    <div id="pageFooter">
                        Copyright &copy; 2012, Ivan Verhun. All rights reserved.
                        <br/>Design inspired by <a href="http://squarespace.com">squarespace.com</a> theme
                    </div>
                </div>
            </div>
        </div>

        <div id="bodyClearer" class="clearer"></div>
    </body>
</html>
