<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Spring Thyme Seed Starter Manager</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/stsm.css" th:href="@{/css/stsm.css}" />
</head>

<body>

	<div>
		<img src="../../images/stsmlogo.png" alt="STSM logo" title="STSM logo"
			th:src="@{/images/stsmlogo.png}" th:alt-title="#{title.application}" />
	</div>

		<!-- ======================== -->
    <div id="articleWrapper">
        <p>
            <span style="font-size: 160%;">
                <span th:text="${article.title}"></span>&nbsp;
<!--                 @if(session().containsKey("user")) {
                    < span style="font-size: 70%;">< a href="@controllers.routes.EditArticle.edit(article.getId())">(edit)</a></span>
                } -->
            </span>
        </p>
        <p>
            <div th:utext="${article.htmlContent}"></div>
        </p>
    </div>
		<!-- ======================== -->

<script type="text/javascript">
    var disqus_developer = 1; // developer mode is on
</script>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'violiner'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>


</body>
</html>